
$color: (
    primary: #f38063,
    secondary:#f7c231,
    hover:#e05f2c,
    bg-body:#d8e4f0,
    white:#ffffff,
    text:#5a5a5a
);

$types: (
    cancel:rgb(179, 179, 179),
    submit:rgb(240, 206, 56),
) ;
$itemTypes: (
    header:rgb(177, 199, 214),
    child:rgb(203, 238, 230),
    yellow:rgb(240, 206, 56),
) ;
